/* Both elements need the same text and space styling so they are directly on top of each other */
#editing, #highlighted-content {
  margin: 10px;
  padding: 10px;
  border: 0;
  width: calc(100% - 32px);
  height: 10em;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

#editing, #highlighted-content, #highlighted-content * {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
  font-weight: bold;
  @apply text-gray-400;
}


/* Move the textarea in front of the result */
#editing {
  z-index: 1;
  color: transparent;
  background: transparent;
  caret-color: white;
  resize: none;
}

#highlighted-content {
  z-index: 0;
}



