@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}
.gojs-container {
  height: 50em;
}

.gojs-palette {
  width: 250px;
  height: 100%;
  background: whitesmoke;
}

.gojs-diagram {
  @apply border-l border-gray-400;
  background: whitesmoke;
  width: calc(100vw - 250px);
  height: 100%;
}

.gojs-overview {
  width: 200px;
  height: 150px;
  background: whitesmoke;
  border: 1px solid black;
}

.left {
  float: left;
  padding: 5px;
  margin: 5px;
}

.box {
  border: solid 1px black;
  background: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clear {
  clear: both;
}
