@import "highlight.js/styles/vs2015.css";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

@tailwind base;
@tailwind components;
@tailwind utilities;

$palette-width: 250px;
$overview-height: 150px;
$diagram-width: calc(100vw - #{$palette-width});

.gojs-container {
  @apply h-[50em];
}

.gojs-palette {
  width: $palette-width;
  height: calc(100% - #{$overview-height});
  background: whitesmoke;
}

.gojs-diagram {
  @apply border-l border-gray-400;
  background: whitesmoke;
  width: calc(100vw - 250px);
  height: 100%;
}

.gojs-overview {
  @apply border-t border-gray-400;
  width: $palette-width;
  height: $overview-height;
  background: whitesmoke;
}

.hljs-entity-name {
  color: red !important;
}

.hljs-identifier {
  color: purple !important;
}

.hljs-reading {
  color: #0d07ff !important;
}
