<div class="grid grid-cols-3">
  <h1>GoJS / Angular - Components Sample</h1>

  <div class="clear left box">
    <h3>Links in app data</h3>
    <ul>
      <li *ngFor="let ld of state.diagramLinkData">
        Link Key: {{ld.key}}, To: {{ld.to}}, From: {{ ld.from }}
      </li>
    </ul>
  </div>

  <div class="left box">
    <h3>Nodes in app data</h3>
    <ul>
      <li *ngFor="let nd of state.diagramNodeData">
        Node ID: {{nd.id}}, Text: {{nd.text}}, Color: {{nd.color}}, Loc: {{nd.loc}}
      </li>
    </ul>
  </div>
</div>

<div class="flex gojs-container">
  <div>
    Palette
    <gojs-palette #myPalette [initPalette]='initPalette'
                  [modelData]='state.paletteModelData'
                  [nodeDataArray]='state.paletteNodeData'
                  divClassName="gojs-palette">
    </gojs-palette>
  </div>
  <div>
    Diagram
    <gojs-diagram #myDiagram (modelChange)='diagramModelChange($event)' [initDiagram]='initDiagram'
                  [linkDataArray]='state.diagramLinkData'
                  [modelData]='state.diagramModelData' [nodeDataArray]='state.diagramNodeData'
                  divClassName="gojs-diagram">
    </gojs-diagram>
  </div>
</div>

<div>
  Overview
  <gojs-overview #myOverview [initOverview]='initOverview' divClassName="gojs-overview"
                 [observedDiagram]='observedDiagram'></gojs-overview>
</div>

