@if (!state) {
  <div class="no-diagram-overlay">
    <p>No diagram data!</p>
  </div>
}

<div class="flex gojs-container">
  <div>
    Palette
    <gojs-palette
      #myPalette
      [initPalette]='initPalette'
      [modelData]='state?.paletteModelData ?? {}'
      [nodeDataArray]='state?.paletteNodeData ?? []'
      divClassName="gojs-palette">
    </gojs-palette>
    <gojs-overview
      #myOverview
      [initOverview]='initOverview'
      [observedDiagram]='observedDiagram'
      divClassName="gojs-overview">
    </gojs-overview>
  </div>
  <div>
    Diagram
    <gojs-diagram
      #myDiagram
      (modelChange)='diagramModelChange($event)'
      [initDiagram]='initDiagram'
      [linkDataArray]='state?.diagramLinkData ?? []'
      [modelData]='state?.diagramModelData ?? {}'
      [nodeDataArray]='state?.diagramNodeData ?? []'
      divClassName="gojs-diagram">
    </gojs-diagram>
  </div>
</div>

<div class="flex">
  <div class="box">
    <h3>Links in app data</h3>
    <ul>
      @for (ld of state?.diagramLinkData;track ld["key"]) {
        <li>
          Link Key: {{ ld['key'] }}, To: {{ ld['to'] }}, From: {{ ld['from'] }}
        </li>
      }
    </ul>
  </div>

  <div class="box">
    <h3>Nodes in app data</h3>
    <ul>
      @for (nd of state?.diagramNodeData;track nd["id"]) {
        <li>Node ID: {{ nd['id'] }}, Text: {{ nd['text'] }}, Type: {{ nd['type'] }}</li>
      }
    </ul>
  </div>
</div>
