@if (!state) {
  <div class="no-diagram-overlay">
    <p>No diagram data!</p>
  </div>
}

<div class="flex gojs-container">
  <div>
    Palette
    <gojs-palette
      #myPalette
      [initPalette]='initPalette'
      [modelData]='state?.paletteModelData ?? {}'
      [nodeDataArray]='state?.paletteNodeData ?? []'
      divClassName="gojs-palette">
    </gojs-palette>
    <gojs-overview
      #myOverview
      [initOverview]='initOverview'
      [observedDiagram]='observedDiagram'
      divClassName="gojs-overview">
    </gojs-overview>
  </div>
  <div>
    Diagram
    <div class="grid grid-cols-3 divide-x">
        <div class="flex">
          <button class="toolbar-button" (click)="undo()"><fa-icon [icon]="undoIcon"></fa-icon></button>
          <button class="toolbar-button" (click)="redo()"><fa-icon [icon]="redoIcon"></fa-icon></button>
          <button class="toolbar-button" (click)="zoomIn()"><fa-icon [icon]="zoomInIcon"></fa-icon></button>
          <button class="toolbar-button" (click)="zoomOut()"><fa-icon [icon]="zoomOutIcon"></fa-icon></button>
          <button class="toolbar-button" (click)="resetZoom()"><fa-icon [icon]="resetZoomIcon"></fa-icon></button>
        </div>
        <div class="flex divider">
          <button class="toolbar-button" (click)="applyForceDirectedLayout()"><fa-icon [icon]="forceDirectedLayoutIcon"></fa-icon></button>
          <button class="toolbar-button" (click)="applyLayeredDigraphLayout()"><fa-icon [icon]="layeredDigraphLayoutIcon"></fa-icon></button>
          <button class="toolbar-button" (click)="applyCircularLayout()"><fa-icon [icon]="circleLayoutIcon"></fa-icon></button>
          <button class="toolbar-button" (click)="applyGridLayout()"><fa-icon [icon]="gridLayoutIcon"></fa-icon></button>
        </div>
    </div>
    <gojs-diagram
      #myDiagram
      (modelChange)='diagramModelChange($event)'
      [initDiagram]='initDiagram'
      [linkDataArray]='state?.diagramLinkData ?? []'
      [modelData]='state?.diagramModelData ?? {}'
      [nodeDataArray]='state?.diagramNodeData ?? []'
      divClassName="gojs-diagram">
    </gojs-diagram>
  </div>
</div>
